/* reset */
body, td, button, input, select, textarea {
	font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body, form, p, ul, dl, input, textarea {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}
h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
p {
	margin: 0 0 10px;
}

/* grid */
.container {
	width: 990px;
	margin: 0 auto;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24,
.col-25 {
	margin: 0 10px 10px 0;
	float: left;
}

.col-1 {width:30px;}
.col-2 {width:70px;}
.col-3 {width:110px;}
.col-4 {width:150px;}
.col-5 {width:190px;}
.col-6 {width:230px;}
.col-7 {width:270px;}
.col-8 {width:310px;}
.col-9 {width:350px;}
.col-10 {width:390px;}
.col-11 {width:430px;}
.col-12 {width:470px;}
.col-13 {width:510px;}
.col-14 {width:550px;}
.col-15 {width:590px;}
.col-16 {width:630px;}
.col-17 {width:670px;}
.col-18 {width:710px;}
.col-19 {width:750px;}
.col-20 {width:790px;}
.col-21 {width:830px;}
.col-22 {width:870px;}
.col-23 {width:910px;}
.col-24 {width:950px;}
.col-25 {width:990px;}

.row {
	margin-right: -10px;
	zoom: 1;
}
.row:after {
	content: ".";
	display: block;
	clear: both;
	font-size: 0;
	height: 0;
	visibility: hidden;
}

/* function */
.inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
.fix {
	zoom: 1;
}
.fix:after {
	content: ".";
	display: block;
	clear: both;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.left {
	float: left;
}
.right {
	float: right;
}

/* app */
body {
	margin: 20px 0;
	color: #333;
}
a {
	color: #428bca;
	text-decoration: none;
}
a:hover {
	color: #4c33e5;
	text-decoration: none;
}
.header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}
.header h3 {
	margin: 0;
	padding-bottom: 20px;
}
.header h3 a {
	color: #999;
	font-size: 24px;
}
.header li {
	float: left;
	list-style: none;
	margin-left: 2px;
}
.header li a {
	display: block;
	font-size: 14px;
	border-radius: 5px;
	padding: 10px 15px;
	color: #428bca;
	text-decoration: none;
}
.header li a:hover {
	background: #e5e5e5;
}
.header li.active a,
.header li.active a:hover {
	color: #fff;
	background: #428bca;
}
.jumbotron {
	padding: 50px 60px;
	border-radius: 6px;
	text-align: center;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: 200;
	line-height: 2;
	background: #eee;
}
.jumbotron h1 {
	font-size: 48px;
	line-height: 1;
}
.jumbotron .lead {
	font-size: 21px;
	font-weight: 200;
	margin-bottom: 20px;
	line-height: 1.4;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	line-height: 1.33;
	border-radius: 6px;
	text-decoration: none;
}
.jumbotron .btn:hover {
	background-color: #47a447;
	border-color: #398439;
}
.marketing h4 {
	margin-top: 28px;
}
.footer {
	margin-top: 40px;
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
	text-align: center;
}
.module {
	margin: 20px 0;
	padding: 0;
}
.module h3 {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	margin: 5px 0 15px 0;
	font-size: 14px;
	font-weight:bold;
}
.module ul {
	margin: 15px;
}