.ke-text {
	font-size: 12px;
	font-family: "sans serif",tahoma,verdana,helvetica;
}
.ke-icon-source {
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
}
.ke-icon-print {
	background-position: 0px -32px;
	width: 16px;
	height: 16px;
}
.ke-icon-undo {
	background-position: 0px -48px;
	width: 16px;
	height: 16px;
}
.ke-icon-redo {
	background-position: 0px -64px;
	width: 16px;
	height: 16px;
}
.ke-icon-cut {
	background-position: 0px -80px;
	width: 16px;
	height: 16px;
}
.ke-icon-copy {
	background-position: 0px -96px;
	width: 16px;
	height: 16px;
}
.ke-icon-paste {
	background-position: 0px -112px;
	width: 16px;
	height: 16px;
}
.ke-icon-selectall {
	background-position: 0px -128px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyleft {
	background-position: 0px -144px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifycenter {
	background-position: 0px -160px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyright {
	background-position: 0px -176px;
	width: 16px;
	height: 16px;
}
.ke-icon-justifyfull {
	background-position: 0px -192px;
	width: 16px;
	height: 16px;
}
.ke-icon-insertorderedlist {
	background-position: 0px -208px;
	width: 16px;
	height: 16px;
}
.ke-icon-insertunorderedlist {
	background-position: 0px -224px;
	width: 16px;
	height: 16px;
}
.ke-icon-indent {
	background-position: 0px -240px;
	width: 16px;
	height: 16px;
}
.ke-icon-outdent {
	background-position: 0px -256px;
	width: 16px;
	height: 16px;
}
.ke-icon-subscript {
	background-position: 0px -272px;
	width: 16px;
	height: 16px;
}
.ke-icon-superscript {
	background-position: 0px -288px;
	width: 16px;
	height: 16px;
}
.ke-icon-title {
	background-position: 0px -336px;
	width: 25px;
	height: 16px;
}
.ke-icon-fontname {
	background-position: 0px -352px;
	width: 21px;
	height: 16px;
}
.ke-icon-fontsize {
	background-position: 0px -368px;
	width: 23px;
	height: 16px;
}
.ke-icon-textcolor {
	background-position: 0px -384px;
	width: 20px;
	height: 16px;
}
.ke-icon-bgcolor {
	background-position: 0px -400px;
	width: 20px;
	height: 16px;
}
.ke-icon-bold {
	background-position: 0px -416px;
	width: 16px;
	height: 16px;
}
.ke-icon-italic {
	background-position: 0px -432px;
	width: 16px;
	height: 16px;
}
.ke-icon-underline {
	background-position: 0px -448px;
	width: 16px;
	height: 16px;
}
.ke-icon-strikethrough {
	background-position: 0px -464px;
	width: 16px;
	height: 16px;
}
.ke-icon-removeformat {
	background-position: 0px -480px;
	width: 16px;
	height: 16px;
}
.ke-icon-image {
	background-position: 0px -496px;
	width: 16px;
	height: 16px;
}
.ke-icon-flash {
	background-position: 0px -512px;
	width: 16px;
	height: 16px;
}
.ke-icon-media {
	background-position: 0px -528px;
	width: 16px;
	height: 16px;
}
.ke-icon-table {
	background-position: 0px -560px;
	width: 16px;
	height: 16px;
}
.ke-icon-hr {
	background-position: 0px -592px;
	width: 16px;
	height: 16px;
}
.ke-icon-emoticons {
	background-position: 0px -608px;
	width: 16px;
	height: 16px;
}
.ke-icon-link {
	background-position: 0px -624px;
	width: 16px;
	height: 16px;
}
.ke-icon-unlink {
	background-position: 0px -640px;
	width: 16px;
	height: 16px;
}
.ke-icon-fullscreen {
	background-position: 0px -656px;
	width: 16px;
	height: 16px;
}
.ke-icon-about {
	background-position: 0px -672px;
	width: 16px;
	height: 16px;
}
.ke-icon-plainpaste {
	background-position: 0px -704px;
	width: 16px;
	height: 16px;
}
.ke-icon-wordpaste {
	background-position: 0px -720px;
	width: 16px;
	height: 16px;
}
.ke-container {
	border: 1px solid #CCCCCC;
	background-color: #F0F0EE;
	table-layout: fixed;
	overflow: hidden;
	border-collapse:separate;
	padding:0;
	margin:0;
}
.ke-toolbar-outer {
	border: 0;
	padding: 0;
	margin: 0;
}
.ke-toolbar {
	width: 100%;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-toolbar td {
	border:0;
	padding: 2px 5px;
	margin:0;
}
.ke-toolbar-table {
	font-size: 0;
	float: left;
	clear: both;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-toolbar-table td {
	border:0;
	padding: 0;
	margin:0;
}
.ke-toolbar-close {
	display: block;
	background-position: 0px -688px;
	width: 16px;
	height: 16px;
	position: absolute;
	margin: 10px 10px 5px 10px;
	right: 0;
	top: 0;
	cursor: pointer;
	background-image: url(./default/default.gif);
}
.ke-bottom-outer {
	border: 0;
	padding: 0;
	margin: 0;
}
.ke-bottom {
	width: 100%;
	font-size: 0;
	padding:0;
	margin:0;
	border-collapse:separate;
}
.ke-bottom-left {
	width: 100%;
	cursor: s-resize;
	border:0;
	margin:0;
	padding:0;
}
.ke-bottom-right {
	cursor: se-resize;
	border:0;
	margin:0;
	padding:0;
}
.ke-bottom-right-img {
	display: block;
	background-position: -4px -740px;
	width: 12px;
	height: 12px;
	background-image: url(./default/default.gif);
}
.ke-textarea-outer {
	border: 0;
	padding: 0 5px;
	margin: 0;
}
.ke-textarea-table {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	border-collapse:separate;
}
.ke-textarea-table td {
	border:0;
	padding: 0 0 0 5px;
}
.ke-textarea {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 12px;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
	line-height: 18px;
	overflow: auto;
}
.ke-iframe {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #FFFFFF;
}
.ke-common-icon {
	display: block;
	background-repeat: no-repeat;
	overflow: hidden;
}
.ke-common-icon-url {
	background-image: url(./default/default.gif);
}
.ke-icon {
	display: block;
	border: 1px solid #F0F0EE;
	padding: 1px 2px;
	margin: 1px;
	cursor: pointer;
}
.ke-icon-on {
	display: block;
	border: 1px solid #4086FF;
	padding: 1px 2px;
	margin: 1px;
	cursor: pointer;
}
.ke-icon-selected {
	display: block;
	border: 1px solid #4086FF;
	background-color: #DDDDDD;
	padding: 1px 2px;
	margin: 1px;
	cursor: pointer;
}
.ke-icon-disabled {
	display: block;
	border: 1px solid #F0F0EE;
	padding: 1px 2px;
	margin: 1px;
	cursor: default;
}
.ke-menu {
	position: absolute;
	border-top: 1px solid #C5C5C5;
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #9F9F9F;
	border-bottom: 1px solid #9F9F9F;
	background-color: #F0F0EE;
	color: #222222;
	font-size: 12px;
	text-align: left;
	padding: 2px;
	z-index: 19811214;
}
.ke-menu-noselected {
	background-color: #F0F0EE;
	color: #222222;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-menu-selected {
	background-color: #4086FF;
	color: #FFFFFF;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-contextmenu {
	position: absolute;
	border-top: 1px solid #C5C5C5;
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #9F9F9F;
	border-bottom: 1px solid #9F9F9F;
	background-color: #F0F0EE;
	color: #222222;
	font-size: 12px;
	padding: 2px;
	text-align: left;
	z-index: 19811214;
}
.ke-contextmenu-noselected {
	background-color: #F0F0EE;
	color: #222222;
	font-size: 12px;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-contextmenu-selected {
	background-color: #4086FF;
	color: #FFFFFF;
	font-size: 12px;
	padding: 2px 30px 2px 10px;
	cursor: pointer;
}
.ke-dialog {
	position: absolute;
	border-top: 1px solid #C5C5C5;
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #9F9F9F;
	border-bottom: 1px solid #9F9F9F;
	background-color: #F0F0EE;
	color: #222222;
	text-align: left;
}
.ke-dialog-title {
	background-color: #F0F0EE;
	padding: 10px 10px 5px 10px;
	color: #000000;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	cursor: move;
}
.ke-dialog-body {
	margin: 10px;
}
.ke-dialog-iframe {
	border: 1px solid #AAAAAA;
}
.ke-dialog-bottom {
	font-size: 12px;
}
.ke-dialog-preview {
	margin: 5px;
	float: right;
}
.ke-dialog-yes {
	margin: 5px;
	float: right;
}
.ke-dialog-no {
	margin: 5px 10px 5px 5px;
	float: right;
}
.ke-mask {
	position: absolute;
	z-index: 19811212;
	top: 0;
	left: 0;
	display: none;
	background-color: #FFFFFF;
}
.ke-button {
	background-color: #DDDDDD;
	border-top: 2px solid #DDDDDD;
	border-left: 2px solid #DDDDDD;
	border-right: 2px solid #AAAAAA;
	border-bottom: 2px solid #AAAAAA;
	cursor: pointer;
	font-size: 12px;
}
.ke-text-input {
	background-color:#FFFFFF;
	font-size: 12px;
}
.ke-picker-table {
	margin:0;
	padding:0;
	border-collapse: separate;
}
.ke-picker-td {
	width: 16px;
	height: 14px;
	font-size: 12px;
	border: 1px solid #F0F0EE;
	cursor: pointer;
	margin:0;
	padding:0;
}
.ke-picker-td-top {
	height: 14px;
	font-size: 12px;
	border: 1px solid #F0F0EE;
	cursor: pointer;
	margin:0;
	padding:0;
	text-align: center;
}
.ke-loading-table {
	margin:0;
	padding:0;
	border-collapse: separate;
}
.ke-loading-table  td{
	border:0;
	margin:0;
	padding:0;
	font-size: 12px;
}
.ke-loading-img {
	display: block;
	background-repeat: no-repeat;
	background-image: url(./common/loading.gif);
	width: 16px;
	height: 16px;
}
.ke-plugin-emoticons-table {
	margin:0;
	padding:0;
	border-collapse:separate;
	width:390px;
	height:252px;
}
.ke-plugin-emoticons-td {
	margin:0;
	padding:1px;
	border:1px solid #F0F0EE;
	cursor:pointer;
}
.ke-plugin-emoticons-span {
	display:block;
	background-repeat:no-repeat;
	overflow:hidden;
	width:24px;
	height:24px;
	background-image:url(./../plugins/emoticons/qq.gif);
}
.ke-plugin-table-table {
	margin:0;
	padding:0;
	border-collapse:separate;
}
.ke-plugin-table-td {
	border:0;
	margin:0;
	padding:0;
}
.ke-plugin-table-td-bottom {
	font-size:12px;
	text-align:center;
	height:20px;
	border:0;
	margin:0;
	padding:0;
}
.ke-plugin-table-div {
	border:1px solid #DDDDDD;
	background-color:#FFFFFF;
	cursor:pointer;
	overflow:hidden;
	margin:1px;
	padding:0;
	width:12px;
	height:12px;
}
