p {
    background-image:url(./p.gif);
    background-position:right top;
    background-repeat:no-repeat;
}
div {
    background-image:url(./div.gif);
    background-position:right top;
    background-repeat:no-repeat;
}
ul {
    background-image:url(./ul.gif);
    background-position:right top;
    background-repeat:no-repeat;
}
ol {
    background-image:url(./ol.gif);
    background-position:right top;
    background-repeat:no-repeat;
}
dl {
    background-image:url(./dl.gif);
    background-position:right top;
    background-repeat:no-repeat;
}
p,div,ul,ol,dl {
    border:1px dotted #CCCCCC;
}
